/* Animations */

.fade-in {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scale-hover:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

